<div class="container">
  <div class="row">
    <div class="col-md-4 push-md-4">
      <br>
      <br>
      <br>
      <div class="card mb-3" *ngIf="!isValidLogin">
        <div class="card-header">
          <i class="fa fa-user"></i> <span>Student Login</span>
        </div>

        <div class="card-body mat-elevation-z8">
          <div class="card-block">

            <div class="student-login">

              <form [formGroup]="loginStudForm" role="form" (ngSubmit)="onStudentLogin(loginStudForm)">
                <alert></alert>
                <div class="form-content">
                  <div class="form-group">
                    <input type="text" name="std_passcode" formControlName="std_passcode" class="form-control input-underline input-lg" placeholder="Enter Passcode"
                      autofocus required>
                  </div>
                  <div class="form-group">
                    <button mat-button class="btn btn-primary" type="submit">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card mb-3" *ngIf="isValidLogin">
        <div class="card-header">
          <i class="fa fa-user"></i> <span>Enter Student Details</span>
        </div>
        <div class="card-body mat-elevation-z8">

          <div class="card-block">
            <div class="student-data">
              <form class="hidden" [formGroup]="candidateForm" >
                   <alert></alert>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>First Name<span class="astrick-icon" [ngClass]="{'error':hasError('cand_firstName', 'required')}">*</span></label>
                      <input matInput type="text" formControlName="cand_firstName" class="form-control"  required>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Middle Name</label>
                      <input matInput type="text" formControlName="cand_MiddleName" class="form-control" >
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Last Name<span class="astrick-icon" [ngClass]="{'error':hasError('cand_LastName', 'required')}">*</span></label>
                      <input matInput type="text" formControlName="cand_LastName" class="form-control"  required>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Date Of Birth<span class="astrick-icon" [ngClass]="{'error':hasError('cand_DOB', 'required')}">*</span></label>
                      <input matInput type="date" formControlName="cand_DOB" class="form-control"  required>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Age</label>
                      <input matInput type="text" formControlName="cand_age" class="form-control"  >
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Blood Group</label>
                      <input matInput type="text" formControlName="cand_blood_group" class="form-control"  >
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Gender<span class="astrick-icon" [ngClass]="{'error':hasError('cand_gender', 'required')}">*</span></label>
                      <select matInput class="form-control" formControlName="cand_gender" required >
                                <option  value="">Select Gender</option>
          <option  value="male">Male</option>
          <option  value="female">Female</option>
        </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Phone Number</label>
                      <input matInput type="text" formControlName="cand_phoneNumber" class="form-control"  >
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Upload Photo</label>
                      <input id="photo" type="file" (change)="onFileChange($event)" value="test" />
                    </div>
                  </div>
                </div>

                <button mat-button class="btn btn-primary" *ngIf="!isSave"  (click)="onCandidateForm(candidateForm)" type="submit">Send</button>
                <button mat-button class="btn btn-primary" *ngIf="isSave" (click)="onCandidateUpdate(candidateForm)" type="submit">Update</button>
              </form>
            </div>

          </div>
        </div>
      </div>


    </div>



    <div>

    </div>
    <div>

    </div>