/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



.card-body {
    padding: 15px;
}

.tm-section-heading{
    h4{
        font-size: 18px;

    }
}
.astrick-icon {
    font-size: 12px;
    top: -3px;
    display: inline-block;
    position: relative;
}
.error {
  color: red;
}
.error-msg {
  display: block;
//   position: absolute;
  font-size: 75%;
//   bottom: -2em;
}